<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Management</title>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="logo">Trash<span>2</span>Treasure</div>
        <nav>
            <ul>
                <li><a href="/home_page">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="/service">Services</a></li>
            </ul>
        </nav>
        <div class="profile">
            <!-- <button class="signup">Sign Up</button> -->
            <a class="signup" href="/login_page">Sign Up</a>

            <!-- <div class="profile-icon">&#128100;</div> -->
        </div>
    </header>
    
    <section class="hero">
        <div class="hero-content">
            <h1>Manage Waste Responsibly</h1>
            <p>Transforming waste into sustainable solutions</p>
            <a class="cta-button" href="/home_page">Explore</a>

            <!-- <button class="cta-button">EXPLORE</button> -->
        </div>
    </section>
    
    <section class="view_2">
        <div class="bg1">
        <div class="slide slide1">
            <img src="./photos/hero2.avif" alt="Customer">
            <p>Our customers are at the heart of sustainable waste management.</p>
        </div>
        <div class="content">
            <h1>Customer</h1>
        </div>
    </div>
        <hr >
        <div class="bg">
        <div class="slide slide2">
            <p>Wrapkeepers ensure waste is collected and disposed of properly.</p>
            <img src="./photos/kabadiwala.jpg_large" alt="Wrapkeeper">
        </div>
        <div class="content">
            <h1>Wrapkeper</h1>
        </div>
    </div>
        <hr>
        <div class="bg1">
        <div class="slide slide1">
            <img src="./photos/environment.jpg" alt="Healthy Environment">
            <p>We strive for a cleaner and healthier environment.</p>
        </div>
        <div class="content">
            <h1>Environment</h1>
        </div>
        </div>
        <hr>
        <div class="bg">
        <div class="slide slide2">
            <p>Industries partner with us for responsible waste disposal.</p>
            <img src="./photos/industry.jpg" alt="Industry">
        </div>
        <div class="content">
            <h1>Industry</h1>
        </div>
    </div>
    </section>

    <section class="view_3">
        <h2>Why Customer <i style="background: linear-gradient(to right, skyblue, rgb(33, 100, 131) ); color: black; border-radius: 1rem; padding: 0.4rem;">Choose Us</i> </h2>
        <div class="features">
            <div class="feature">
                <img src="./photos/easy to sell.webp" alt="Easy to Sell">
                <h3>Easy to Sell</h3>
                <p>Sell waste effortlessly through our app.</p>
            </div>
            <div class="feature">
                <img src="./photos/pickup.webp" alt="Schedule Pickup">
                <h3>Schedule Pickup</h3>
                <p>Book waste collection at your convenience.</p>
            </div>
            <div class="feature">
                <img src="./photos/value for money.avif" alt="Value for Money">
                <h3>Value for Money</h3>
                <p>Get the best prices for your waste.</p>
            </div>
            <div class="feature">
                <img src="./photos/value for money.avif" alt="No Other Platforms">
                <h3>Exclusive Service</h3>
                <p>No competitors offering a similar solution.</p>
            </div>
            <div class="feature">
                <img src="./photos/value for money.avif" alt="Dashboard Analytics">
                <h3>Dashboard Analytics</h3>
                <p>Track waste management insights easily.</p>
            </div>
            <div class="feature">
                <img src="./photos/value for money.avif" alt="AI-driven Route Planning">
                <h3>AI-Driven Route Planning</h3>
                <p>Optimize collection routes using AI.</p>
            </div>
        </div>
    </section>

    <!-- <hr style="border: 0.01rem solid gray;"> -->

    <section class="view_4">
        <h2>Get in touch with us</h2>
        <p>Any question or remarks? Just write us a <span class="highlight">message!</span></p>
    
        <div class="contact-container">
            <!-- Left Contact Info Box -->
            <div class="contact-info">
                <h3>Contact Information</h3>
                <p>Fill up the form and our Team will get back to you within 24 hours</p>
    
                <div class="info-item">
                    <span>📞</span> +91-7786545001
                </div>
                <div class="info-item">
                    <span>📧</span> contact@trash2treasure.com
                </div>
                <div class="info-item">
                    <span>📍</span> The Trash2Treasure, Amtala, Nibaran Dutta Road, West Bengal 743503
                </div>
            </div>
    
            <!-- Right Contact Form -->
            <div class="contact-form">
                <form>
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Name">
    
                    <div class="form-row">
                        <div>
                            <label for="phone">Phone Number</label>
                            <input type="text" id="phone" placeholder="Phone Number">
                        </div>
                        <div>
                            <label for="email">Email Address</label>
                            <input type="email" id="email" placeholder="Email Address">
                        </div>
                    </div>
    
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" placeholder="Subject">
    
                    <label for="message">Message</label>
                    <textarea id="message" placeholder="Message"></textarea>
    
                    <button type="submit" class="send-btn">Send Message</button>
                </form>
            </div>
        </div>
    </section>
    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
